<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end">
        <a routerLink="/cart" 
        class="cart-link inline-flex items-center flex-none"
        >
        <i class="pi pi-shopping-cart" style="font-size: 2rem"></i>
        <ng-container *ngIf="count$ | async as count">
            <span
            class="cart-count ml-1 px-2 bg-red-600 text-white rounded-full text-xs"
            *ngIf="count > 0"
          >
            {{ count }}
          </span>
        </ng-container>
        </a>
    </div>
</p-toolbar>
<p-splitter 
    [panelSizes]="[20, 80]" 
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>